<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Order (IML)</title>
</head>
<body>
    <table>
        <tr>
            <td>
                Order state and status
                <form th:action="@{/order/cdek/status}" method="get" th:object="${statusRequest}">
                    Delivery ID<br>
                    <input type="text" name="orderId">
                    <br>
                    <input type="submit" value="Get order delivery status">
                </form>
            </td>
            <td>
                Make an order
                <form th:action="@{/order/cdek/create}" method="post" th:object="${orderRequest}">
                    Tariff Code<br>
                    <select id="tariffCode" name="tariffCode">
                        <option th:value=1>Экспресс лайт дверь-дверь</option>
                        <option th:value=3>Супер-экспресс до 18</option>
                        <option th:value=5>Экономичный экспресс склад-склад</option>
                        <option th:value=10>Экспресс лайт склад-склад</option>
                        <option th:value=11>Экспресс лайт склад-дверь</option>
                        <option th:value=12>Экспресс лайт дверь-склад</option>
                        <option th:value=15>Экспресс тяжеловесы склад-склад</option>
                        <option th:value=16>Экспресс тяжеловесы склад-дверь</option>
                        <option th:value=17>Экспресс тяжеловесы дверь-склад</option>
                        <option th:value=18>Экспресс тяжеловесы дверь-дверь</option>
                        <option th:value=57>Супер-экспресс до 9</option>
                        <option th:value=58>Супер-экспресс до 10</option>
                        <option th:value=59>Супер-экспресс до 12</option>
                        <option th:value=60>Супер-экспресс до 14</option>
                        <option th:value=61>Супер-экспресс до 16</option>
                        <option th:value=62>Магистральный экспресс склад-склад</option>
                        <option th:value=63>Магистральный супер-экспресс склад-склад</option>
                    </select>
                    <br>
                    Sender company<br>
                    <input type="text" th:field="*{sender.company}">
                    <br>
                    Sender name<br>
                    <input type="text" th:field="*{sender.name}">
                    <br>
                    Sender email<br>
                    <input type="text" th:field="*{sender.email}">
                    <br>
                    Sender phone number<br>
                    <input type="text" th:field="*{sender.phones[0].number}">
                    <br>
                    Recipient name<br>
                    <input type="text" th:field="*{recipient.name}">
                    <br>
                    Recipient phone number<br>
                    <input type="text" th:field="*{recipient.phones[0].number}">
                    <br>
                    Origin location countryCode<br>
                    <input type="text" th:field="*{fromLocation.countryCode}">
                    <br>
                    Origin location address<br>
                    <input type="text" th:field="*{fromLocation.address}">
                    <br>
                    Delivery location countryCode<br>
                    <input type="text" th:field="*{toLocation.countryCode}">
                    <br>
                    Delivery location address<br>
                    <input type="text" th:field="*{toLocation.address}">
                    <br>
                    Package number<br>
                    <input type="text" th:field="*{packages[0].number}">
                    <br>
                    Package weight<br>
                    <input type="text" th:field="*{packages[0].weight}">
                    <br>
                    Package length<br>
                    <input type="text" th:field="*{packages[0].length}">
                    <br>
                    Package width<br>
                    <input type="text" th:field="*{packages[0].width}">
                    <br>
                    Package height<br>
                    <input type="text" th:field="*{packages[0].height}">
                    <br>
                    Package comment<br>
                    <input type="text" th:field="*{packages[0].comment}">
                    <br>
                    <input type="submit" value="Create the order">
                </form>
            </td>
        </tr>
    </table>
</body>
</html>