<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Order (IML)</title>
</head>
<body>
    <table>
        <tr>
            <td>
                Order state and status
                <form th:action="@{/order/cdek/status}" method="get" th:object="${statusRequest}">
                    Delivery ID<br>
                    <input type="text" name="orderId">
                    <br>
                </form>
            </td>
            <td>
                Make an order
                <form th:action="@{/order/cdek/create}" method="post" th:object="${orderRequest}">
                    Delivery ID<br>
                    <input type="text" name="tariffCode">
                    <br>
                    STUFF_WRITE<br>
                    <input type="text" name="value">
                    <br>
                    STUFF_WRITE<br>
                    <input type="text" name="">
                    <br>
                    STUFF_WRITE<br>
                    <input type="text" name="">
                    <br>
                    STUFF_WRITE<br>
                    <input type="text" name="">
                    <br>
                    STUFF_WRITE<br>
                    <input type="text" th:field="*{sender.company}">
                    <br>
                    STUFF_WRITE<br>
                    <input type="text" th:field="*{sender.name}">
                    <br>
                    STUFF_WRITE<br>
                    <input type="text" th:field="*{sender.email}">
                    <br>
                    STUFF_WRITE<br>
                    <input type="text" th:field="*{sender.phones}">
                    <br>
                    <input type="submit" value="Create the order">
                </form>
            </td>
        </tr>
    </table>
</body>
</html>